<!-- banner start -->
<!-- ================ -->
<div id="banner" class="banner">
	<div class="banner-image"></div>
	<div class="banner-caption">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
				<img src="images/BannerTitle.png" class="img-responsive center-block">
					<p class="lead text-center">提供創業家最精實的<a>創業教育</a><br/>學習創業路上所需要的工具，與實戰創業家進行討論

					<br/><br/>
					<a class="btn btn-1 btn-1b" href="#" role="button">登入</a>
					</p>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- banner end -->