<!-- section start -->
		<!-- ================ -->
		<div class="section translucent-bg bg-image-2 pb-clear">
			<div class="container">
				<h1 id="clients" class="title text-center">成為 TCer</h1>
				<h3 class="text-center">文案文案文案文案文案文案</h3>
				<div class="space"></div>
				<div class="row object-non-visible" data-animation-effect="fadeIn">
					
					<div class="col-md-6">
						<div class="media testimonial">
							<div class="media-left">
							</div>
							<div class="media-body">
								<h2 class="media-heading">申請DEMO團隊</h2>
								<blockquote>
									<p>Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus.</p>
									<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
								</blockquote>
							</div>
							<a class="btn btn-1 btn-1b" href="#" role="button">申請</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="media testimonial">
							<div class="media-left">
								<img src="images/testimonial-3.png" alt="">
							</div>
							<div class="media-body">
								<h2 class="media-heading">申請儲備幹部</h2>
								<blockquote>
									<p>Aperiam consequatur quo quis exercitationem reprehenderit suscipit iste placeat.</p>
									<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
								</blockquote>

							</div>
						<a class="btn btn-1 btn-1b" href="#" role="button">申請</a>

						</div>
					</div>
				</div>
			
			</div>
			<div class="space"></div>
		</div>
		<!-- section end -->
