    <!-- About Us Page
    ==========================================-->
    <!-- <link rel="stylesheet" type="text/css" href="css/owl.carousel.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/owl.theme.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/style3.css"> -->

<section id="portfolio">
    <div class="default-bg space blue" id="tf-about">
        <div class="container">
            <div class="row">
            	<div class="space"></div>
                <div class=" col-md-4">
                    <h1>創業論壇</h1>
                    <h3>從 TC Incubator 找尋創業路上所需要的工具</h3>
                    <img src="/images/tools.png" class="img-responsive center-block" id="tool">
                </div>
                <div class="list-group col-md-7 col-md-offset-1 object-non-visible" data-animation-effect="animated fadeInRight">
                  <div class="space">熱門話題</div>
                  <button type="button" class="list-group-item">[新手] 我適合創業嗎？<span class="badge">4320</span><span class="badge">54回應</span></button>
                  <button type="button" class="list-group-item">[工具] 創業平台兼好工具 - TC 論壇<span class="badge">2310</span><span class="badge">31回應</span></button>
                  <button type="button" class="list-group-item">[徵人] 徵對EC有興趣者加入新創團隊<span class="badge">2002</span><span class="badge">20回應</span></button>
                  <button type="button" class="list-group-item">[分享] 精實創業實戰心得<span class="badge">1234</span><span class="badge">23回應</span></button>
                  <button type="button" class="list-group-item">[推薦] 推薦台中舒適的coworking space!<span class="badge">998</span><span class="badge">2回應</span></button>
                </div>

            </div>
        </div>
                  <div class="space"></div>

    </div>
</section>